.bg-gray {
  background-color: #F4F4F4; }

.bg-white {
  background-color: white; }

.bg-primary {
  background-color: #263368 !important; }

.bg-secondary {
  background-color: #d7000f; }

.text-normal {
  font-weight: 400 !important; }

.text-bold {
  font-weight: bold !important; }

.text-lighter {
  font-weight: lighter !important; }

.text-bolder {
  font-weight: bolder !important; }

.text-gray {
  color: #AAA; }

.text-primary {
  color: #263368 !important; }

.text-secondary {
  color: #d7000f !important; }

.box-radius {
  border-radius: 5px; }

html {
  font-family: "PingFang SC", "Microsoft YaHei", serif; }

body {
  font-size: 14px; }

h1, h2, h3,
h1.widget-title, h3.sidetitl {
  color: #263368; }

hr {
  border-color: #263368;
  opacity: 0.3; }

#main, .widget {
  background: white;
  padding: 25px;
  border: 1px solid #E3E3E3;
  border-radius: 0px; }

#main.post-list, .widget.post-list {
  border: none !important;
  padding: 0 !important; }

#main.remove-featured-image > img {
  display: none; }

.section {
  margin-bottom: 30px;
  border: 1px solid #eaeaea;
  background: white;
  border-radius: 0px; }

.section .section-title {
  font-size: 0.8em;
  padding: 10px 15px;
  font-weight: bold;
  color: #AAA; }

.section .section-title h1, .section .section-title h2 {
  font-weight: lighter;
  color: #263368; }

.breadcrumb {
  margin: 0; }

a, button {
  outline: none !important; }

.btn {
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn, .btn.btn-primary {
  background-color: #263368; }

.btn, .btn:active, .btn:visited, .btn.btn-primary, .btn.btn-primary:active, .btn.btn-primary:visited {
  color: #EEE !important; }

.btn:hover, .btn.btn-primary:hover {
  background-color: #d7000f; }

.btn, .btn.btn-md {
  font-size: 1em;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: bold; }

button {
  box-shadow: none; }

@media (min-width: 1600px) {
  .container {
    width: 1540px;
    max-width: 1540px;
    padding: 0 30px; } }

@media (min-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 30px; } }

h1.entry-title {
  margin-top: 30px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.vc-wrapper {
  display: table;
  height: 100%; }

.vc-wrapper.full-height {
  height: 100%; }

.vc-wrapper.full-width {
  width: 100%; }

.vc-inside {
  display: table-cell;
  vertical-align: middle; }

a, a * {
  outline: none !important;
  color: #263368;
  cursor: pointer; }

a:hover, a *:hover {
  color: #d7000f; }

.image-bg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.tool-list .tool {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;
  display: block; }

.tool-list .tool:hover {
  border: 1px solid #d7000f;
  border-radius: 0px; }

.link-list a {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  display: block;
  position: relative;
  border: 1px solid transparent;
  border-bottom: 1px solid #F2F3F5;
  margin: 0 -1px -1px -1px;
  padding: 12px 15px 10px 15px;
  z-index: 2; }

.link-list a > img {
  margin-right: 5px;
  margin-bottom: 2px; }

.link-list a .image {
  float: left;
  width: 20px; }

.link-list a .name {
  margin-left: 30px;
  line-height: 125%; }

.link-list a:last-child {
  border-bottom: 1px solid #F2F3F5; }

.link-list a:hover {
  z-index: 3;
  border: 1px solid #d7000f; }

.link-list a:hover .name {
  color: #d7000f; }

.tilt {
  position: relative; }

.tilt:before {
  content: "";
  z-index: -1;
  background-color: #263368;
  -ms-transform: skew(-10deg, 0deg);
  /* IE 9 */
  -webkit-transform: skew(-10deg, 0deg);
  /* Safari */
  transform: skew(-10deg, 0deg);
  /* Standard syntax */
  position: absolute;
  top: 0;
  left: -5px;
  right: -5px;
  bottom: 0; }

.newsblock {
  position: relative; }

.newsblock .newsblock-thumbnail-container {
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  position: relative;
  /* If you want text inside of it */
  cursor: pointer; }

.newsblock .newsblock-thumbnail-container .newsblock-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.newsblock .newsblock-thumbnail-container.square {
  padding-top: 100%;
  /* 4:3 Aspect Ratio */ }

.newsblock .newsblock-content {
  position: absolute;
  bottom: 20px;
  padding: 20px 30px 40px 30px;
  left: 0px;
  right: 35%;
  color: white;
  background: rgba(38, 51, 104, 0.6);
  border-top: 3px solid rgba(38, 51, 104, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.newsblock .newsblock-content .newsblock-date {
  color: white;
  position: relative; }

.newsblock .newsblock-content .newsblock-date .date {
  text-transform: uppercase;
  font-size: 12px;
  color: white; }

.newsblock .newsblock-content .newsblock-title {
  cursor: pointer;
  color: white;
  line-height: 125%; }

.newsblock .newsblock-content .newsblock-text {
  color: rgba(255, 255, 255, 0.5); }

.newsblock:hover .newsblock-content {
  border-top: 3px solid #f4473a;
  background: rgba(38, 51, 104, 0.8); }

.newsblock.outside .newsblock-thumbnail-container .newsblock-date {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid #f4473a;
  background: rgba(38, 51, 104, 0.6);
  padding: 3px 20px;
  color: white; }

.newsblock.outside .newsblock-content-outside {
  padding: 20px 20px 30px 20px; }

.newsblock.outside .newsblock-content-outside .newsblock-date .date {
  opacity: 0.5; }

.newsblock.outside .newsblock-content-outside .newsblock-title {
  line-height: 125%; }

ul.slick-dots li {
  width: 50px;
  height: 8px;
  margin: 0px 5px 0 0;
  background: #263368;
  -ms-transform: skew(-10deg, 0deg);
  /* IE 9 */
  -webkit-transform: skew(-10deg, 0deg);
  /* Safari */
  transform: skew(-10deg, 0deg);
  /* Standard syntax */
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

ul.slick-dots li button {
  width: 50px;
  height: 8px;
  margin: 0px;
  box-shadow: none; }

ul.slick-dots li button:before {
  content: ""; }

ul.slick-dots li.slick-active {
  background: #d7000f;
  -ms-transform: skew(-10deg, 0deg) scale(1, 1.4);
  /* IE 9 */
  -webkit-transform: skew(-10deg, 0deg) scale(1, 1.4);
  /* Safari */
  transform: skew(-10deg, 0deg) scale(1, 1.4);
  /* Standard syntax */ }

ul.slick-dots li:hover {
  background: #d7000f; }

.slick-slider {
  position: relative; }

.slick-slider .slick-arrow {
  z-index: 20;
  position: absolute;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-size: 18px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #E3E3E3;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slick-slider .slick-arrow:before {
  content: ""; }

.slick-slider .slick-arrow.slick-prev {
  top: 50%;
  left: -15px;
  background-image: url("../../../../wp-content/uploads/arrow-l.png"); }

.slick-slider .slick-arrow.slick-next {
  top: 50%;
  right: -15px;
  background-image: url("../../../../wp-content/uploads/arrow-r.png"); }

.slick-slider .slick-arrow:hover, .slick-slider .slick-arrow:focus, .slick-slider .slick-arrow:visited {
  background-size: 22px 26px;
  background-position: center center;
  background-color: white;
  border: 1px solid #E3E3E3; }

.home-slider {
  margin: 0 !important; }

.home-slider ul.slick-dots {
  position: absolute;
  bottom: 34px;
  left: 30px;
  right: 0;
  z-index: 10;
  text-align: left; }

.home-news-list {
  padding: 0 30px; }

.mainmenu {
  text-align: right; }

.mainmenu #submenu {
  display: inline-block;
  float: none; }

.mainmenu #submenu ul li.menu-item a {
  font-size: 16px;
  color: #263368; }

.main-custom-menu {
  background: #2d3c7b;
  padding: 0; }

#main-nav {
  height: 50px;
  position: relative;
  z-index: 1; }

#main-nav ul#topmenu {
  margin: 0;
  padding: 0;
  position: relative; }

#main-nav ul#topmenu > li.menu-item {
  display: block;
  float: left;
  line-height: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  position: relative; }

#main-nav ul#topmenu > li.menu-item > a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0px 15px;
  color: white;
  font-size: 1em; }

#main-nav ul#topmenu > li.menu-item > a:before {
  background-color: transparent; }

#main-nav ul#topmenu > li.menu-item > a:before {
  content: "";
  z-index: -1;
  -ms-transform: skew(-10deg, 0deg);
  /* IE 9 */
  -webkit-transform: skew(-10deg, 0deg);
  /* Safari */
  transform: skew(-10deg, 0deg);
  /* Standard syntax */
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 0; }

#main-nav ul#topmenu > li.menu-item:hover a {
  color: white !important; }

#main-nav ul#topmenu > li.menu-item:hover a:before {
  background-color: #263368 !important; }

#main-nav ul#topmenu > li.menu-item:hover.current-menu-item > a:before {
  background-color: #c8000e !important; }

#main-nav ul#topmenu > li.menu-item:hover > ul {
  display: block; }

#main-nav ul#topmenu > li.menu-item.menu-item-home > a:before {
  background-color: #263368 !important; }

#main-nav ul#topmenu > li.menu-item.current-menu-item > a:before, #main-nav ul#topmenu > li.menu-item.current-category-ancestor > a:before,
#main-nav ul#topmenu > li.menu-item.current-category-ancestor .current-menu-item > a:before {
  background-color: #c8000e; }

#main-nav ul#topmenu ul {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  top: 50px;
  left: 0;
  background: #263368;
  z-index: 10; }

#main-nav ul#topmenu ul li {
  float: none;
  width: 200px;
  text-align: left;
  background-color: #34458d; }

#main-nav ul#topmenu ul li a {
  padding: 0 10px;
  width: 100%;
  display: block; }

#main-nav ul#topmenu ul li:hover a {
  background-color: #263368; }

#main-nav.current-menu-item a, #main-nav #main-nav .current_page_item a, #main-nav #main-nav a:hover {
  color: #000;
  background: #ccc; }

.language-switcher .qtranxs_widget {
  margin: 0;
  background: transparent;
  padding: inherit;
  border: none;
  border-radius: unset; }

.language-switcher .qtranxs_widget ul {
  margin: 0;
  padding: 0; }

.language-switcher .qtranxs_widget ul li {
  padding: 0 10px 0 7px;
  margin: 0px; }

.language-switcher .qtranxs_widget ul li.active a, .language-switcher .qtranxs_widget ul li.active a:hover, .language-switcher .qtranxs_widget ul li.active a:visited, .language-switcher .qtranxs_widget ul li.active a:active, .language-switcher .qtranxs_widget ul li.active a * {
  color: #d7000f; }

.language-switcher .qtranxs_widget ul li:not(:last-child) {
  border-right: 1px solid #8796d3; }

.language-switcher ul.ct-font-resizer {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0; }

.language-switcher ul.ct-font-resizer li.fontResizer {
  min-width: 100px; }

.language-switcher ul.ct-font-resizer li.fontResizer a {
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 0px;
  line-height: 26px;
  background: #EEE;
  vertical-align: middle; }

.language-switcher ul.ct-font-resizer li.fontResizer a.fontResizer_minus {
  font-size: 10px !important; }

.language-switcher ul.ct-font-resizer li.fontResizer a.fontResizer_reset {
  font-size: 14px !important; }

.language-switcher ul.ct-font-resizer li.fontResizer a.fontResizer_add {
  font-size: 18px !important; }

.page-head {
  background: white;
  border: 0;
  padding: 40px 0px 20px 0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1); }

.page-head h3 {
  padding: 0;
  font-size: 3em;
  font-weight: 300;
  color: #263368; }

.page-head .sub-categories {
  margin-top: 10px;
  text-transform: uppercase; }

.page-head .sub-categories a, .page-head .sub-categories a:visited {
  color: #263368;
  background: #f7f8fc;
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 4px 10px;
  margin-right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.page-head .sub-categories a:hover, .page-head .sub-categories a:active, .page-head .sub-categories a:focus, .page-head .sub-categories a:visited:hover, .page-head .sub-categories a:visited:active, .page-head .sub-categories a:visited:focus {
  color: #d7000f;
  background: #fff1f2; }

.page-head .arrow {
  color: #acb7e1;
  padding: 0 12px 0 4px; }

#bottom {
  background: #263368;
  border-top: 5px solid #secondary-color; }

#bottom .botwid ul li > a {
  color: white; }

.site-footer {
  background: #263368;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

.custom-post-featured-image {
  position: relative;
  height: 400px;
  margin-bottom: -80px;
  height: 350px; }

.home-slider {
  margin: 0; }

.home-slider .slider-content .text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(38, 51, 104, 0.55);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.home-slider .slider-content .text .title {
  color: white; }

.home-slider .slider-content .text .meta {
  color: white;
  font-size: 0.7em;
  opacity: 0.5; }

.home-slider .text {
  color: #263368; }

.home-slider a:hover .slider-content .text {
  background: #263368;
  color: white; }

.home-slider a:hover .text {
  color: #4158b3; }

.section-home-bk {
  position: relative; }

.section-home-bk .bk-button {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 20px; }

/*# sourceMappingURL=maps/style.css.map */
