.section-title{
	& h1, & h2{
		font-weight: lighter;
		color: $primary-color;
	}
}




// reset
@media (min-width: 1600px){
	.container {
		width: 1540px;
		max-width: 100%;
	}
}
.section, .section-wide{
	margin-bottom: 20px;
}

a{
	outline: none !important
}
.slider-container{
	// background-color: red;
	width: 100%;
	padding-top: 56.25%; /* 1:1 Aspect Ratio */
	position: relative; /* If you want text inside of it */
	.slider-content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}
}
.image-bg{
	background-repeat: no-repeat;
	background-position: center center;
	// background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.tool-list{
	.tool{
		@include transition(all 0.3s ease-in-out);
		border: 1px solid rgba(0,0,0,0);
		display: block;
		&:hover{
			border: 1px solid $secondary-color;
		}
	}
}
