.mainmenu{
	text-align: right;
	#submenu{
		display: inline-block;
		float: none;
		ul{
			li.menu-item{
				a{
					font-size: 16px;
					color: $primary-color;
				}
			}
		}
	}
}

.main-custom-menu{
	background: lighten($primary-color, 5%);
	padding: 0;
	// margin: 0 0 20px 0;
}

#main-nav   {
	height: 50px; 
	position: relative;
	z-index: 1;
	ul#topmenu{
		margin: 0; 
		padding: 0; 
		position: relative;
		> li.menu-item{
			display: block;
			float: left;
			line-height: 50px; 
			height: 50px; 
			margin: 0; padding: 0; 
			position: relative; 
			> a{
				display: block;
				height: 50px;
				line-height: 50px;
				padding: 0px 15px;
				color: white;
				font-size: 1em;
				&:before{
					// @include transition(all 0.3s ease-in-out);
					background-color: transparent;
				}
				@include tilt-shape;
			}
			&:hover{
				a{
					color: white !important;
					&:before{background-color: $primary-color !important;}
				}
				&.current-menu-item{
					> a:before{
						background-color: darken($secondary-color, 3%) !important;
					}
				}
				> ul {
					display: block; 
				}
			}
			&.menu-item-home{
				> a:before{
					background-color: $primary-color !important;
				}
			}

			&.current-menu-item{
				> a:before{
					background-color: darken($secondary-color, 3%);
				}
			}
		}
		ul{
			display: none; 
			position: absolute;
			list-style: none;
			margin: 0; 
			padding: 0; 
			top: 50px; 
			left: 0;
			background: $primary-color;
			z-index: 10;
			li{
				float: none; 
				width: 200px;
				text-align: left;
				background-color: lighten($primary-color, 10%);
				a{
					padding: 0 10px;
					width: 100%;
					display: block;
				}
				&:hover{
					a{
						background-color: $primary-color;
					}
				}
			}
		}
	}
	&.current-menu-item a, #main-nav .current_page_item a, #main-nav a:hover {
		color: #000;
		background: #ccc;
	}
}
.language-switcher{
	.qtranxs_widget{
		margin: 0;
		background: transparent;
		padding: inherit;
		border: none;
		border-radius: unset;
		ul{
			margin: 0;
			padding: 0;
			li{
				padding: 0 10px 0 7px;
				margin: 0px;
				&.active{
					a, a:hover, a:visited, a:active, a *{
						color: $secondary-color;
					}
				}
			}
			li:not(:last-child){
				border-right: 1px solid lighten($primary-color, 40%);
			}
		}
	}
	ul.ct-font-resizer{
		list-style: none;
		margin: 0 0 0 20px;
		padding: 0;
		li.fontResizer{
			min-width: 100px;
			a{
				display: inline-block;
				width: 26px; 
				height: 26px;
				padding: 0px;
				line-height: 26px;
				background: #EEE;
				vertical-align: middle;

				&.fontResizer_minus{
					font-size: 10px !important;
				}
				&.fontResizer_reset{					
					font-size: 14px !important;
				}
				&.fontResizer_add{					
					font-size: 18px !important;
				}
			}
		}
	}
}

.page-head{
	background: white;
	border: 0;
	padding: 40px 0px;
	h3{
		padding: 0 20px;
		color: $primary-color;
	}
}

