// DEFINITIONS
$radius: 5px !default;

$gray: #F4F4F4 !default;
$bg-color: $gray !default;

$black: #292929 !default;
$black-lighter: lighten( $black, 20% );
$black-darker: darken( $black, 20% );

$primary-color: #263368 !default;
$primary-color-lighter: lighten( $primary-color, 20% );
$primary-color-darker: darken( $primary-color, 5% );

$secondary-color: #d7000f !default;
$secondary-color-lighter: lighten( $secondary-color, 20% );
$secondary-color-darker: darken( $secondary-color, 20% );

$text-color: $primary-color !default;
$text-color-lighter: lighten( $primary-color, 20% );
$text-color-darker: darken( $primary-color, 20% );

$border-color: #E3E3E3 !default;

// define color
.bg-gray{
	background-color: $gray;
}
.bg-white{
	background-color: white;
}
.bg-primary{
	background-color: $primary-color !important;
}
.bg-secondary{
	background-color: $secondary-color;
}
.text-normal{
	font-weight: 400 !important;
}
.text-bold{
	font-weight: bold !important;
}
.text-lighter{
	font-weight: lighter !important;
}
.text-bolder{
	font-weight: bolder !important;
}

.text-gray{
	color: #AAA;
}
.text-primary{
	color: $primary-color !important;
}
.text-secondary{
	color: $secondary-color !important;
}
.box-radius{
	border-radius: 5px;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin tilt{
	&:before{
		content: "";
		z-index: -1;
		background-color: $primary-color;
		 -ms-transform: skew(-10deg,0deg); /* IE 9 */
	    -webkit-transform: skew(-10deg,0deg); /* Safari */
	    transform: skew(-10deg,0deg); /* Standard syntax */
	    position: absolute;
	    top: 0;
	    left: -5px;
	    right: -5px;
	    bottom: 0;
	}
}
@mixin tilt-shape{
	&:before{
		content: "";
		z-index: -1;
		 -ms-transform: skew(-10deg,0deg); /* IE 9 */
	    -webkit-transform: skew(-10deg,0deg); /* Safari */
	    transform: skew(-10deg,0deg); /* Standard syntax */
	    position: absolute;
	    top: 0;
	    left: 5px;
	    right: 5px;
	    bottom: 0;
	}
}